<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-init-method="setup"
       default-destroy-method="clear">

    <!-- Bean definitions go here -->
    <bean id="emp1" class="org.example.Employee" init-method="setup" destroy-method="clear">
        <property name="empId" value="1" />
        <property name="empName" value="Shivani" />
        <property name="department" ref="dept1" /> <!-- property name defined in the employee class and ref is the  id of the bean created for department -->
    </bean>

    <bean id="dept1" class="org.example.Department">
        <property name="deptName" value="Computer" />
    </bean>

</beans>